.productListItem {
  width: 100%;
}

.wrapperProductList {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  justify-items: center;
  gap: 24px;
}